<footer class="text-center text-lg-start bg-dark text-muted mt-5">
  <section
    class="container d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with me on social networks:</span>
    </div>
    <div>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Dino Droce
          </h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a routerLink="/dashboard" class="text-reset">HTML</a>
          </p>
          <p>
            <a routerLink="/dashboard" class="text-reset">CSS</a>
          </p>
          <p>
            <a routerLink="/dashboard" class="text-reset">JavaScript</a>
          </p>
          <p>
            <a routerLink="/dashboard" class="text-reset">Angular</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a routerLink="/login" class="text-reset" *ngIf="!credentialsService.isAuthenticated()">Login</a>
          </p>
          <p>
            <a routerLink="/dashboard" class="text-reset">Dashboard</a>
          </p>
          <p>
            <a routerLink="/about" class="text-reset">About</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Sehovina, Mostar, 88000</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            dino.droce@hotmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 387 62 324 118</p>
        </div>
      </div>
    </div>
  </section>
</footer>